.constructor-block {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100%;
}

.counter-box {
	display: grid;
	grid-template-columns: repeat(3,max-content);
	justify-content: flex-end;
	align-items: center;
}

.list-items {
	overflow: auto;
}

.card-wrapper {
	max-height: 80px;
}

.card-wrapper:last-child {
	margin-bottom: 0;
}

.main-wrapper {
	height: calc(100vh - 300px);
}